@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
body{
    
    color: #000 ;
    background-color: #fff;
   
    font-family: 'Crimson Text', serif;
}

